<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692792441116-5n3jq7dq3aeuing6btj7j2uuc5fvbbus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692792441116-5n3jq7dq3aeuing6btj7j2uuc5fvbbus</string>
	<key>API_KEY</key>
	<string>AIzaSyDtsRxQvC9aVjZM4n_kO3Gttqq9Emb6kaU</string>
	<key>GCM_SENDER_ID</key>
	<string>692792441116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connect</string>
	<key>PROJECT_ID</key>
	<string>connect-app-6e0de</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-app-6e0de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692792441116:ios:a112582b93a2bb046f22d9</string>
</dict>
</plist>